<div class="week-container">
	<div class="row week-row week-header">
		<% @week_days.each do |day, date| %>
			<div class="col-xs-1 week-day-header"><%= day %><span class="week-day-date"><%= date.strftime("%d.%m.%Y") %></span></div>
		<% end %>
	</div>

	<div class="row week-row">
		<div class="col-xs-1 week-day"></div>
		<div class="col-xs-1 week-day">
			<div class="week-day-session week-session-start-10 week-session-length-8">
				<span class="week-session-activity">Design <span class="week-session-details"><a href="#">i</a></span></span>
				<span class="week-session-client">CETel</span>
				<span class="week-session-project">Director Marketing</span>
				<span class="week-session-duration">3 hours</span>
			</div>
		</div>
		<div class="col-xs-1 week-day">
			<div class="week-day-session week-session-start-8 week-session-length-4">
				<span class="week-session-activity">Design</span>
				<span class="week-session-client">CETel</span>
				<span class="week-session-project">Director Marketing</span>
				<span class="week-session-duration">3 hours</span>
			</div>
			<div class="week-day-session week-session-start-13 week-session-length-4">
				<span class="week-session-activity">Design</span>
				<span class="week-session-client">CETel</span>
				<span class="week-session-project">Director Marketing</span>
				<span class="week-session-duration">3 hours</span>
			</div>
		</div>
		<div class="col-xs-1 week-day"></div>
		<div class="col-xs-1 week-day"></div>
		<div class="col-xs-1 week-day"></div>
		<div class="col-xs-1 week-day"></div>
	</div>
</div>