<h1>Dashboard</h1>

<div class="row">
	<div class="col-sm-9">
		<table class="table">
			<thead>
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-sm-3">
		<h3>Projects</h3>
		<ul>
		<% if !@clients.blank? %>
		  <% for item in @clients %>
		    <li><strong><%= item.name %></strong>
		    <% if !item.projects.blank? %>
		    	<ul>
		      <% for proj in item.projects %>
					<li><%= proj.name %><br><span class="text-muted">(<%= distance_of_time_in_words(proj.spent_seconds) %>)</span></li>
		      <% end %>
		      	</ul>
		    <% end %>
		    </li>
		  <% end %>
		<% else %>
		  <li><span class="warning">No clients yet.</span><br><%= link_to "Add client", new_client_url %>
		<% end %>
		</ul>
	</div>
</div>